<header class="header fixed-part">
  <nav>
    <ul class="header-link-structure">
      <li>
        <a class="header-links" href="/" alt="home page">Home</a>
      </li>
      <li>
        <a class="header-links" href="/dashboard" alt="Dashboard">Dashboard</a>
      </li>
      <li>
        <a class="header-links" href="/" id="logout"alt="logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
<div>
  <h1 class="header">MY BLOG</h1>
</div>