<header class="header fixed-part">
  <nav>
    <ul class="header-link-structure">
      <li>
        <a class="header-links" href="/" alt="home page link">Home</a>
      </li>
      <li>
        <a class="header-links" href="/login" alt="login">Login</a>
      </li>
         </ul>
  </nav>
</header>
<div>
  <h1 class="header">TECH BLOG</h1>
</div>