<div class="card add-border">
  <p class="">Add A New Post</p>
  <div class="align-center">
    <a class="action-button all-btns" href="/dashboard/new" alt="Add a new blog">Click To Post A New Blog</a>
  </div>
</div>