<div class="card add-border">
  <p class="">Welcome back!</p>
  <div class="align-center">
    <a class="all-btns action-button" href="/dashboard/blogs" alt="blog page link">View My Blogs</a>
  </div>
</div>