{{>headernav}}
<div class="input-card add-border">
  <div class="cardLog">
    <div class="cardTitle">
      <h2>User Login</h2>
    </div>
    <form id="login-form" class="login-form cardLogin">
      <div>
        <label for="username-login">Username</label>
        <input type="text" id="username-login" class="input-box"/>
      </div>
      <div>
        <label for="password-login" class="form-label">Password</label>
        <input type="password" id="password-login" class="input-box"/>
      </div>
      <div class="align-center">
        <button type="submit" id="login-btn" class="all-btns action-button">Login</button>
        <a class="all-btns action-button" href="/signup">Sign Up</a>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>