{{>headernav}}
<div class="input-card add-border">
  <div class="cardLog">
    <div class="cardTitle">
      <h2>Sign Up</h2>
    </div>
    <div>
      <form id="signup-form" class="signup-form cardSignup add-border">
        <div>
          <label for="user_signup">Enter a Username</label>
          <input type="text" id="user_signup" class="input-box"/>
        </div>
        <div>
          <label for="pass_signup">Enter a Password</label>
          <input type="password" id="pass_signup" class="input-box"/>
        </div>
        <div class="align-center">
          <button type="submit" id="signup-btn" class="all-btns action-button">Sign Up</button>
          <a class="all-btns action-button" href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>